!!!
%html
  %head
    %title Filtered Invite
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{name: "keywords", content: "invite,filters,events,facebook,event,friends,party"}
    %meta{name: "description", content: "Invite only the friends you want to a Facebook Event and don't let your mom know about the party."}
    %meta{property: "og:url", content: "http://filteredinvite.herokuapp.com/"}
    %meta{property: "og:title", content: "Filtered Invite"}
    %meta{property: "fb:app_id", content: ENV["FACEBOOK_KEY"]}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-39904930-1', 'herokuapp.com');
      ga('send', 'pageview');
  %body
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=290311694435835";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    = yield
    #footer
      .container
        .fb-like{data: {href: "http://filteredinvite.herokuapp.com/", width: 450, "show-faces" => "false", layout: "button_count"}}
        .pull-right
          Made by
          = link_to "Bernardo Amorim", "http://www.bamorim.com/", target: "_blank"